<div class="wrapper max-w-[856px]">
  <section class="py-2 my-4 lg:my-8 text-center">
    <h2 class="font-livvic mb-8 tracking-[1.5px] text-[26px] lg:text-[35px] uppercase leading-none">¿Qué es Zero Waste Rugs ?</h2>
    <p class="tracking-[1px] text-sm mb-4">
      Te invitamos a ser parte de nuestra colección CIRCULAR  "Zero waste Rugs" dándole una segunda vida a tu alfombra. Sí tienes una de nuestras alfombras sube una foto general y en detalle para que nuestro equipo la evalúe. Indícanos la fecha de compra y nombre de quien la realizó.
    </p>
    <p class="tracking-[1px] text-sm mb-4">
      Haciendo el intercambio de tu alfombra Milú usada por una nueva obtienes un crédito que puedes usar como abono en tu compra.
    </p>
    <p class="tracking-[1px] text-sm mb-4">
      <strong class="font-medium">Esto se aplica en tienda una vez que recibimos tu alfombra.</strong> 
    </p>
    <h3 class="font-livvic mt-8 mb-4 tracking-[1.5px] text-[18px] lg:text-[25px] uppercase leading-none">Recuerda</h3>
    <p class="tracking-[1px] text-sm my-4">
      todas las alfombras que entran a nuestra categoría de intercambio , pasan por un proceso de limpieza y sanitización para luego ser puestas a la venta como alfombras de segunda mano.
    </p>
  </section>
  <section class="my-4 py-2 text-center">
    <h3 class="font-livvic uppercase lg:text-[25px] text-[20px] tracking-[1.5px]">¿Quieres ser parte?</h3>
    <p class="tracking-[1px] text-sm font-medium">Sujeto a evaluación y condición de la alfombra.<br> Descuentos no acumulativos con otras promociones o descuentos.</p>
  </section>
</div>

{% schema %}
{
  "name": "Zero wasted main",
  "settings": []
}
{% endschema %}