<div class="wrapper">
  <div class="w-full h-[100vh] flex flex-col justify-center items-center text-center max-w-[750px] mx-auto">
    <h1 class="mb-4 tracking-[1.5px]  text-xl uppercase leading-none">Error 404</h1>
    <h2 class="mb-4 tracking-[2.5px] text-4xl lg:text-8xl font-bold leading-none">¡OOPS!</h2>
    <h3 class="mb-4 tracking-[1.5px] text-xl uppercase font-semibold leading-none">Lo sentimos no se encontró la página solicitada</h3>
    <p class="mb-4 tracking-[1px] text-xl leading-[1.1]">
      No se pudo encontrar la página solicitada, la dirección probablemente sea incorrecta. Esto provocó un error 404. Utilice la barra de búsqueda o vuelva a la página de inicio para navegar por <a href="{{ routes.all_products_collection_url }}" class="font-semibold underline transition-all duration-500 ease-in-out hover:opacity-50">nuestro catálogo.</a>
    </p>
  </div>
</div>
