<div class="max-w-[780px] mx-auto my-8 py-4">
  <h1 class="font-modelica-medium text-center uppercase tracking-[1.5px] text-[24px] lg:text-[35px] mb-4 ">
    {{ page.title | escape }}
  </h1>
  <div class="content">
    {{ page.content }}
  </div>
</div>